{% extends 'base.html.twig' %}

{% block title %}Accueil Coffeera!{% endblock %}

{% block body %}

<section class="content-background-slider" data-ride="carousel">
    <div class="slider">

        <div class="first-slider slider-item active">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-slider slider-item">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="third-slider slider-item">
            <div class="content-title-description-btn">
                <div class="title-description-btn">
                    <h1 class="title-slider">Would you like a Cup of Delicious Coffee?</h1>
                    <p class="description-slider">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                    <div class="content-btn-shop">
                        <button class="btn btn-shop">
                            <span class="label">
                                Learn More
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="container-about-us" style="height: 1000px; background-color: #C2B288; display:flex; justify-content:end; align-items: center;">
    <div class="about-us" style="display: flex;">
        <div>
            <h1>A propos de nous</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
        <img src="{{ ('media/interieur-cafe.jpg') }}" style="width: 600px; height: 400px;">
    </div>
</section>

<section class="container-tendency-products" style="display: flex; justify-content: center; font-family: Rancho;">
    <div>
        <h1 style="text-align: center;">Café en Tendance</h1>
        <div class="list-tendency-products" style="display: grid; grid-template-columns: repeat(3, minmax(0, 3fr)); gap: 20px ;">
            <div class="product">
                <div class="content-img">
                    <img src="{{ ('media/macchiato.jpeg') }}" alt="macchiato">
                </div>
                <h1 style="text-align: center;">Macchiato</h1>
                <div class="content-text-product" style="display: flex; justify-content: center;">
                    <p style="width: 100px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="product">
                <div class="content-img">
                    <img src="{{ ('media/macchiato.jpeg') }}" alt="macchiato">
                </div>
                <h1 style="text-align: center;">Macchiato</h1>
                <div class="content-text-product" style="display: flex; justify-content: center;">
                    <p style="width: 100px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="product">
                <div class="content-img">
                    <img src="{{ ('media/macchiato.jpeg') }}" alt="macchiato">
                </div>
                <h1 style="text-align: center;">Macchiato</h1>
                <div class="content-text-product" style="display: flex; justify-content: center;">
                    <p style="width: 100px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="product">
                <div class="content-img">
                    <img src="{{ ('media/macchiato.jpeg') }}" alt="macchiato">
                </div>
                <h1 style="text-align: center;">Macchiato</h1>
                <div class="content-text-product" style="display: flex; justify-content: center;">
                    <p style="width: 100px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-service-quality" style="background-color: #C2B288; height: 800px; font-family: Rancho; text-align: center; display:flex; justify-content: center;">
    <div>
        <h1>Que penses nos clients de la qualité de nos services ?</h1>
        <div class="list-service-quality">
            <div class="service-quality" style="display: flex;">
                <div class="content-coffee">
                    <img src="{{ ('media/cafe-noir.jpeg') }}" alt="cafe-noir">
                </div>
                <div class="content-people">
                    <div class="content-img-people">
                        <img class="img-people" src="{{ ('media/people1.jpg') }}">
                    </div>
                    <div class="content-text-people">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <div class="service-quality" style="display: flex;">
                <div class="content-people">
                    <div class="content-img-people">
                        <img class="img-people" src="{{ ('media/people2.jpg') }}">
                    </div>
                    <div class="content-text-people">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="content-coffee">
                    <img src="{{ ('media/cappuccino.jpeg') }}" alt="cappuccino">
                </div>
            </div>
        </div>
    </div>
</section>

<footer style="background-color: #6F4E37; font-family: Rancho; color: white; padding: 0 0 50px 0;">
    <div>
        <div class="container-info-contact" style="display: flex; justify-content:center; margin: 50px 0 50px 0;">
            <div class="info-contact" style="width: 25%;">
                <h1 style="text-align: center;">Contactez nous </h1>
                <div class="container-tel-email" style="display: flex; justify-content: space-around;">
                    <div class="container-tel" style="display: flex;">
                        <div class="img-tel">
                            <img style="margin: 35px 10px 0 0;" src="{{ ('media/call.png') }}" alt="call">
                        </div>
                        <div>
                            <h2 class="text-contact">Appelez nous<h2>
                            <p>+01 234 567</p>
                        </div>
                    </div>
                    <div class="container-email" style="display: flex;">
                        <div class="img-email">
                            <img style="margin: 35px 10px 0 0;" src="{{ ('media/email.png') }}" alt="email">
                        </div>
                        <div>
                            <h2 class="text-email">E-mail<h2>
                            <p>info@domain.com</p>
                        </div>
                    </div>
                </div>
                <div class="container-loc" style="display: flex; justify-content: center;">
                    <div class="img-loc">
                        <img style="margin: 35px 10px 0 0;" src="{{ ('media/loc.png') }}" alt="loc">
                    </div>
                    <div>
                        <h2 class="text-loc">Adresse<h2>
                        <p>72, Wall street, King Road, NY 20110</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-reseaux-sociaux" style="display: flex; justify-content: center;">
            <div class="reseaux-sociaux" style="display: flex; width: 15%; justify-content: space-evenly;">
                <img src="{{ ('media/logo-fb.png') }}">
                <img src="{{ ('media/logo-twitter.png') }}">
                <img src="{{ ('media/logo-linkdin.png') }}">
            </div>
        </div>
    </div>
</footer>

<script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}