{% extends 'base.html.twig' %}

{% block title %}Produits Coffeera!{% endblock %}

{% block body %}

<section class="container-products" style="background-color: #C2B288; display: flex; justify-content: center;">
    <div style=" width: 75%; display: grid; gap: 100px; justify-content: center;">
        <h1 style="text-align:center;">Nos produits</h1>
        {% for product in products %}
        <a href="#">
            <div class="product" style="display: flex; padding: 20px; background-color: #606B5F; border-radius: 15px; justify-content: space-between;">
                <img src="{{ asset('media/american-coffee.webp') }}" style="width: 300px; height: 200px;">
                <div class="content-info" style="display: flex;">
                    <div class="content-name-family-country">
                        <p>Nom de café : {{ product.name }}</p>
                        <p>Famille : {{ product.family }}</p>
                        <p>Origine {{ product.country }}</p>
                    </div>
                    <div class="content-name-family-country">
                        <p>Note : {{ product.note }} / 10</p>
                        <p>Prix : {{ product.price }} €</p>
                    </div>
                    <div>
                        <p> Description : {{ product.description }}</p>
                    </div>
                </div>
                {% if product.bestSeller == true %}
                    <img src="{{ ('media/best_seller.gif') }}" style="width: 80px; height: 80px; position: relative; top: 180px; left: 30px;">
                {% endif %}
                {% if product.bestSeller == false %}
                    <img src="{{ ('media/goofy.gif') }}" style="width: 80px; height: 80px; position: relative; top: 180px; left: 30px;">
                {% endif %}
            </div>
        </a>
        {% endfor %}

        <nav aria-label="Page navigation example" style="width: 100%;display: flex;justify-content: center;">
            <ul class="pagination" style=" width: 50%; display: flex; justify-content: space-around;">
                {% if currentPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('products', {
                            page: currentPage - 1
                        }) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Page précédente</span>
                        </a>
                    </li>
                {% endif %}
    
                {% set availablePages = countPages > 3 ? 3 : countPages %}
    
                {% if currentPage == 1 %}
                    {% for i in range (1, availablePages) %}
                        <li class="page-item {{ currentPage == i ? 'active' }}"><a class="page-link" href="{{ path('products', {
                                page: i
                            }) }}">{{ i }}</a></li>
                    {% endfor %}
                {% elseif currentPage == countPages %}
                    {% for i in range (countPages - (availablePages - 1), countPages|reverse) %}
                        <li class="page-item {{ currentPage == i ? 'active' }}">
                            <a class="page-link" href="{{ path('products', {
                                page: i
                            }) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('products', {
                            page: currentPage - 1
                        }) }}">{{ currentPage - 1}}</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="{{ path('products', {
                            page: currentPage
                        }) }}">{{ currentPage }}</a></li>
                    <li class="page-item"><a class="page-link" href="{{ path('products', {
                            page: currentPage + 1
                        }) }}
                    ">{{ currentPage + 1 }}</a></li>
                {% endif %}
    
    
    {#            {% for i in range (1, 3) %}#}
    {#                {% if currentPage == 1 %}#}
    {#                    <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>#}
    {#                {% elseif currentPage == countPages %}#}
    {#                    {% set end = 2 %}#}
    {#                    <li class="page-item"><a class="page-link" href="#">{{ i - end }}</a></li>#}
    {#                    {% set end = end - 1 %}#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    
    
                {% if currentPage < countPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('products', {
                            page: currentPage + 1
                        }) }}" aria-label="Next">
                            <span class="sr-only">Page suivante</span>
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    
    </div>
</section>
{% endblock %}
