{% extends 'nav_admin.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <h1>Liste des Produits</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Famille</th>
                <th>Origine</th>
                <th>Note</th>
                <th>Prix</th>
                <th>Tendance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for product in products %}
                <th>
                {{ product.name }}
                {{ product.description }}
                {{ product.family }}
                {{ product.country }}
                {{ product.note }}
                {{ product.price }}

                {% if product.bestSeller == true %}
                    <p>En tendance : oui</p>
                {% else %}
                    <p>En tendance : non</p>
                {% endif %}
                </th>
            {% endfor %}
            </tr>
        </tbody>
    </table>


{% endblock %}