{% extends "nav_admin.html.twig" %}

{% block title %}Ajouter un slider{% endblock %}

{% block body %}
<div class="top" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Ajouter un slider</h1>
    <a href="{{ path('admin_sliders_index') }}">Retourner au tableau des slider</a>
</div>

<div class="container">
    <h2>Nouveau slider</h2>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_end(form) }}
</div>

{% endblock %}