{% extends "nav_admin.html.twig" %}

{% block title %}Modification d'un slider{% endblock %}

{% block body %}
<div class="top" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="h1">Modification du slider "{{ slider.title }}"</h1>
    <a href="{{ path('admin_sliders_index') }}">Retourner au tableau des slider</a>
</div>

<div>
    {{ form_start(form) }}
        <div>
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
        </div>
        <div>
            {{ form_row(form.button_link) }}
        </div>
        <div>
            {{ form_row(form.button_text) }}
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}