{% extends "nav_admin.html.twig" %}

{% block title %}Modification d'un slider{% endblock %}

{% block body %}
<div class="top d-flex justify-content-center m-4">
    <h1>Modification du slider "{{ slider.title }}"</h1>
    <div class="d-flex align-items-center justify-content-end position-absolute end-0">
        <form class="form-group" action="{{ path('admin_sliders_index') }}" method="post">
            <input class="btn btn-add" type="submit" value="Retourner au tableau des sliders">
        </form>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="col-xl-7 col-md-12">
        <div class="card card-default">
            <div class="card-body">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div>
                            {{ form_row(form.title) }}
                            {{ form_row(form.content) }}
                        </div>
                        <div>
                            {{ form_row(form.buttonLink) }}
                        </div>
                        <div>
                            {{ form_row(form.buttonText) }}
                        </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}