{% extends 'nav_admin.html.twig' %}

{% block title %}Liste des Sliders{% endblock %}

{% block body %}
<div class="top">
    <h1>Liste des Sliders</h1>
    <form class="form-group" action="{{ path('admin_sliders_add') }}" method="post">
        <input class="btn" type="submit" value="Ajouter un slider">
    </form>
</div>
    <style>
        .top{
            display: flex;
            justify-content: space-between;
        }

        table{
            border-collapse: collapse;
        }

        thead{
            background: #878787;
        }

        tr{
            height: 70px;
        }

        th, td{
            border: 1px solid black;
            padding: 10px;
            vertical-align: top;
            text-align: center;
        }

        td{
            background: #d9d9d9;
        }
    </style>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Texte bouton</th>
                <th>Lien bouton</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for slider in sliders %}
            <tr>
                <td>{{ slider.title }}</td>
                <td style="width: 40%;">{{ slider.content }}</td>
                <td>{{ slider.buttonText }}</td>
                <td>{{ slider.buttonLink }}</td>
                <td>
                    <form class="form-group" action="{{ path('admin_sliders_edit', {id: slider.id}) }}" method="post">
                        <input class="btn" type="submit" value="Modifier">
                    </form>
                    <form action="{{ path('admin_sliders_delete', {id: slider.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-slider') }}">
                        <input class="btn" type="submit" value="Supprimer">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}