{% extends 'base.html.twig' %}

{% block title %}Contact Coffeera!{% endblock %}

{% block body %}

<section class="container-form-contact">
    <h1>Contactez nous</h1>
    {{ form_start(form) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.message) }}
    {{ form_end(form) }}
</section>

<script src="{{ asset('js/slider.js') }}"></script>
{% endblock %}