<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{asset('css/admin/admin.css')}}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <li>
                <a href="{{ path('homepage') }}">Site public</a>
            </li>
            <nav class="content-navbar">
                <ul class="nav-bar">
                    <li>
                        <a href="{{ path('admin_sliders_index') }}">Slider</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_users_admins_index') }}">Compte admin</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_products_index') }}">Produits</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_brands_index') }}">Marques</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_categories_index') }}">Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_contacts_index') }}">Demande de contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
