{% extends "nav_admin.html.twig" %}

{% block title %}Modification d'une marque{% endblock %}

{% block body %}
<div class="top" style="display: flex; justify-content: space-between; align-items: center;">
    <h1 class="h1">Modification de la marque "{{ brand.name }}"</h1>
    <a href="{{ path('admin_brands_index') }}">Retourner au tableau des marques</a>
</div>

<div>
    {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}