{% extends 'nav_admin.html.twig' %}

{% block title %}Liste des Contact{% endblock %}

{% block body %}
    <h1>Liste des Contact</h1>

    <ul>
        {% for contact in contacts %}
            <li>Contact</li>
            <p>Nom de famille : {{ contact.lastName }}</p>
            <p>Prénom : {{ contact.firstName }}</p>
            <p>Email : {{ contact.email }}</p>
            <p>Numéro de téléphone : {{ contact.phone }}</p>
            <p>Message : {{ contact.message }}</p>
        {% endfor %}
    </ul>
{% endblock %}